html{
	font-size: 18px;
}

div {
	border: 1px solid black; 
}

.flex-container {
	display: flex; 
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap; 
}

.container { 
	display: inline-block; 
	width: 960px; 
}

header {
	background-color: black; 
	color: white;
}

h1, h4 {
	text-color: white; 
}

h2 {
	font-family: helvetica, sans-serif; 
	font-size: 1rem; 
	margin: .66rem 0; 	
}

.glasses { 
	height: 1.5rem; 
	margin-left: .5rem; 
	margin-right: 1rem; 
}

.moto { 

	background-image: url("images/moto.jpeg");
	background-size: cover; 
	width: auto; 
	height: 25rem; 

}

.moto_box {
	background-color: black; 
	color: white;
	position: absolute;
	width: 20rem;
	top: 9rem; 
	
}

.moto_box h1, h4 {
	padding-left: 3rem;
	font-family: helvetica, sans-serif; 
	font-weight: bold; 
	text-transform: uppercase;
}

.moto_box h4 {
	margin-top: 2rem; 
	margin-bottom: .25rem;
	font-size: 1rem; 
}

.moto_box h1 {
	font-size: 2rem; 
}

nav { 
	background-color: firebrick; 
	color: white; 
}

ul, li {
	text-decoration: none; 
	list-style-type: none; 
	text-align: center;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

