html{
	font-size: 12px;
}

div {
	border: 1px solid black; 
}
.flex-container {
	display: flex; 
	justify-content: center; 
	flex-wrap: wrap; 
}
.boxes { 
width: 17rem;
height: 15rem;
background-color: orangered; 

}