/**Universal Changes**/

html{
	font-size: 18px;
}

body {
	font-family: Helvetica, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

div {
    display: block;
	/*border: 1px solid black;*/
}
 
@media only screen and (max-width: 1024px) {
	body{
		font-size: 16px; 
	}
}

/* Company Header */

.company {
  background-color: black;
  color: white;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0 12px 0.5em;
}

.company img {
  height: 1.5em;
  padding-right: 15px;
}


h1, h4 {
	text-color: white; 
}

.company  h2 { 
	font-size: 1em; 
	margin: .66rem 0; 	
}

@media only screen and (max-width: 470px) {
	.company h2 {
		display: none; 
		
	}
	
	.company img {
		margin: auto; 
	}
	
}
	

/** Black Box / Header **/ 

.headline { 

	background-image: url("images/moto.jpeg");
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	height: 25em; 

}

.headline_box {
	background-color: black; 
	color: white;
	position: relative; 
	width: 20em;
	top: 9em;
	padding: 2em 3em;
	
}

.headline h1, h4 {
	font-weight: bold; 
	text-transform: uppercase;
}

.headline h4 {
	margin-top: 2em; 
	margin-bottom: .25em;
	font-size: 1em; 
}

.headline h1 {
  	font-size: 2em;
  	line-height: 1.2em;
 	 margin: 0.25em 0;
}

@media only screen and (max-width: 470px) {
	
	.headline {
		height: 17em; 
		
	}
	
	.headline h1 {
		font-size: 1rem; 
		
	}
	
	.headline h4 {
		font-size: .77rem;
	}
	
	.headline_box {
		width: auto; 
		height: auto;
		top: 10em; 
		padding: 1em 2em; 
	}
}

/** Navigation **/ 


nav { 
	background-color: firebrick; 
	color: white; 
}

nav ul { 
	list-style-type: none; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	 padding: 0.75em 0;
}

.mobile-nav {
	display: none; 
}
  
@media only screen and (max-width: 1024px){
	nav ul {
		display: none; 
	}
	
	.mobile-nav { 
		display: block; 
		text-align: center; 
	}
}


/** Product / Business Information **/ 

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product {
	
	width: 30%; 
}

.product-image {
	border: 4px solid black; 
	padding: 2em 0; 
	height: 9em; 
	display: flex; 
	align-items: center; 
	justify-content: center; 
}

.product-image img {
	max-width: 8em; 
}

.description { 
	display: block; 
	background-color: black; 
	color: white;
	padding: .5rem; 
	text-align: center; 
}


.info .title {
	display: block; 
	background-color: black; 
	color: white; 
	padding: 1em 2em; 
	text-align: left; 
}

.info {
	width: 35%; 
}

@media only screen and (max-width: 1024px) {
	
	.product {
		width: 47%; 
	}
	
	.product.glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
	
	.products, .business-info {
		flex-wrap: wrap; 
	}
	
	.product {
		width: 90%; 
		margin: auto; 
	}
	
	.product.watch {
		display: none; 
	}
	
	.info {
		width: 90%;
		margin: .5rem auto; 
	}
	
	.info .title {
		text-align: center; 
	}
}
	
/** Footer **/ 

footer { 
	background-color: black;
	margin-top: 4em; 
	padding: 5em 0; 
	color: white; 
	
}

@media only screen and (max-width: 470px) {
	footer {
		text-align: center; 
	}
}
